//ШРИФТ=====================================================================

$font-family: "Roboto", sans-serif;
$font-size: 16px;

//ПІДКЛЮЧЕНІ ШРИФТИ=====================================================================
// GOOGLE FONTS (&display=swap)=====================================================================
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
// /GOOGLE FONTS=====================================================================

//ПІДКЛЮЧЕНІ ШРИФТИ=====================================================================

//ШРИФТ=====================================================================
//CONTAINER=====================================================================
$container-width: 1300px;
$container-padding: 15px;
//CONTAINER=====================================================================
//VARIABLES=====================================================================
$blue: #225b93;
$darkblue: #08263f;
$black: #031622;
$gold: #fed097;
$grey: #edf3f6;
//VARIABLES=====================================================================
